* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Manrope", system-ui, sans-serif;
}

.container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  max-width: 80rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.25rem;
  flex-wrap: wrap;
}

nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url("Manrope.woff2") format("woff2");
}

.link {
  color: white;
  text-decoration: none;
  font-size: 0.875rem;
}

.link:hover {
  color: #766589;
}

.btn {
  text-decoration: none;
  font-size: 0.875rem;
  height: 2rem;
  padding-inline: 1rem;
  border-radius: 9999px;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}

.btn-primary {
  background-color: white;
  color: black;
}

.btn-primary:hover {
  background-color: #766589;
}

details {
  display: contents;
}

details::details-content {
  width: 100%;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

header img {
  display: block;
}

@media (width >= 40rem) {
  summary {
    display: none;
  }
  details::details-content,
  nav {
    display: contents;
  }
  header {
    gap: 1.5rem;
    padding-block: 1rem;
  }
  .btn-primary {
    margin-left: auto;
  }
}

body:has(#search:target) .landing {
  display: none;
}

input {
  height: 3rem;
  width: 100%;
  border-radius: 9999px;
  background-color: #171717;
  color: white;
  font-size: inherit;
  font-family: inherit;
  padding-inline: 1rem;
  border: none;
  outline: none;
  appearance: none;
  max-width: 40rem;
}

input::placeholder {
  color: #737373;
  opacity: 1;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  background-color: #0a0a0a;
  border: 1px solid #171717;
  border-radius: 1.5rem;
  padding-inline: 1.5rem;
}

.btn-secondary:hover {
  background-color: #171717;
}

.text-green {
  color: #22c55e;
}

.text-red {
  color: #ef4444;
}

.disclaimer {
  color: #525252;
  font-size: 0.875rem;
  padding-block: 1.5rem;
}

.pending {
  width: 5rem;
  height: 2rem;
  border-radius: 9999px;
  background-color: #171717;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  flex-shrink: 0;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

li span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body:not(:has(#search:target)) .search {
  display: none;
}

body:not(:has(#search:target)) .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-block: 10rem;
}

h1 {
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
}

body:has(#search:target) input {
  max-width: none;
  margin-block: 1.5rem;
}
